@import url('https://fonts.googleapis.com/css?family=Roboto'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#heading {
    text-align: left;
    color: #505050;
    font-size: 22px;
    font-family: arial;
    margin-top: 0;
    margin-left: 8px;
    margin-bottom: 0;
    line-height: 1.4;
    font-weight: light;
}

h2 {
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: arial;
    line-height: 1.4;
    font-weight:normal
  }

h3 {
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: arial;
    margin-bottom: 0;
    line-height: 1.4;
    font-weight:normal
  }

  .text {
    text-align: left;
  }

#chooseType {
    margin-top: 10px;
    /*background-color: #eeeeee;*/
    border-top:1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
    padding: 12px;
    padding-left: 20px;
    box-shadow: 5px;
    
}

#generateNew {
    font-size: 15px;
    font-weight: normal;
    padding: 7px;
    color: #ffffff;
    background: #22a565;
    border-radius: 3px;
    cursor: pointer;
}

#generateNew:hover {
    background: #2baf7c;
}

.button {
    font-size: 15px;
    font-weight: normal;
    padding: 7px;
    color: #5c5c5c;
    text-decoration: none;
    cursor: pointer;
    background: #48aa6900;
    border-radius: 3px;
    border: hidden;
}



select {
    font-size: 15px;
    font-weight: normal;
    padding: 7px;
    padding-left: 3px;
    margin: -7px;
    margin-left: -2px;
    color: #5c5c5c;
    text-decoration: none;
    cursor: pointer;
    background: #48aa6900;
    border-radius: 3px;
    border: hidden;
    outline: none;
}

select:focus:hover {
    color: #188038;
    background-color: #e6f4ea;
    outline: none;
}

select:hover {
    background-color: rgb(240, 240, 240);
    outline: none;
}

select * {
    color: #5c5c5c; 
    background: #ffffff;
}

.button:hover {
    background-color: rgb(240, 240, 240);
}

table {
    border-collapse: collapse;
}

th {
    color: #188038;
    background: #e6f4ea;
    font-weight: normal;
}

table, th, td {
    border: 1px solid rgb(209, 209, 209);
    padding: 3px;
}

.vl {
    border-left: 1px solid  rgb(209, 209, 209);
    height: 40px;
    margin-right: 7px;
}

.placeholder {
    visibility: hidden;
    margin-right: 3px;
}

.qr-code{
    display:flex;
    /*opacity:0;*/
    pointer-events: none;
    padding:55px 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.split_and_qr {
    display: flex;
}

.qr-code {
    width:25%;
    height:100%;
}

.qr-code img{
    width:100%;
    height:100%;
}

.all_split{
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    align-items:center;
    background: #ffffff00;
    justify-content:center;
    width: 75%;
}

.split{
    /*resize:horizontal;*/
    height: 100%;
    display: flex;
    width: 50%;
    position:fixed;
    min-width:10px;
    height: 100%;
    /*top:0;*/
    
}

.left{
    /*resize:horizontal;*/
    height: 100%;
    flex: 1;
    float:left;
    left:0;
    width:100%;
    background-color:#ffffff;
    
}

.right{
    resize:horizontal;
    height: 100%;
    flex: 3;
    border-left: 3px solid #c7c7c7;
    justify-content: left;
    display:flex;
    width:100%;
    right:0;
    background-color:#ffffff;
}

::-webkit-input-placeholder{
    text-align: left;
}
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(199, 199, 199); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.35s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #414141;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;
    left: 0;
    margin-bottom: 35px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    border-radius: 22px;
}

.openbtn:hover {
    background-color: rgb(240, 240, 240);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    padding-bottom: 10px;
    padding-left: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}